.left-nav {
  height: 100vh;
  overflow-x: hidden;
  /* background-color: rgb(25, 118, 210); */
  background-color: rgb(0 28 104);
  width: 15%;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-x: hidden;
}
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  color: white;
}
.nav-content {
  display: flex;
  flex-direction: column;
}
.nav-content > a {
  color: white;
  padding: 28px;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
}
.ad-logo {
  color: white;
  font-size: 22px;
  display: flex;
  margin-left: 14px;
  align-items: center;
  width: 400px;
  gap: 10px;
  /* border-bottom: 1px solid rgb(191, 196, 235); */
}
.nav-content > a:hover {
  background-color: rgb(11, 42, 128);
}
.tabs {
  display: flex;
  gap: 10px;
}
.left-active {
  width: 15%;
}
.left-inactive {
  width: 8%;
}
.opennav {
  padding-left: 300px;
  transition: all 0.3s ease-in-out;
}
.closenav {
  padding-left: 100px;
  transition: all 0.3s ease-in-out;
}
.header-flex {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 10px 15px;
}
.open {
  font-size: 46px;
  color: #050505;

  transition: all 0.3s ease-in-out;
}
.close {
  color: #050505;
  z-index: 50;
  font-size: 46px;
  transition: all 0.3s ease-in-out;
}
.left-inactive .left-nav {
  background-color: rgb(0 28 104);

  justify-content: center;
}

.left-inactive .nav-content .nav-texts {
  display: none;
}
.left-inactive .ad-logo {
  color: white;
  font-size: 22px;
  margin-left: 14px;
  display: flex;

  justify-content: start;
  text-align: center;
  /* border-bottom: 1px solid rgb(191, 196, 235); */
}

.left-inactive .left-nav {
  width: 76px;
  transition: all 0.3s ease-in-out;
}
.left-active .left-nav {
  transition: all 0.3s ease-in-out;
}
.left-inactive .logo-txt {
  transition: all 0.3s ease-in-out;
  animation: animate 2s 1s ease-in;
}
.left-inactive .logo-txt {
  /* display: none; */
  display: block;
}
.nav-tooltip {
  position: relative;
  display: inline-block;
}
.nav-tooltip .nav-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}
.nav-tooltip .nav-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.nav-tooltip:hover .nav-tooltiptext {
  visibility: visible;
  display: block;
}

.left-active .main-content {
  width: 100%;
  margin-left: 15%;
  transition: all 0.3s ease-in-out;
}
.left-inactive .main-content {
  /* margin-left: 3%; */
  background-color: blue;
}
.content-admin {
  margin-left: 15%;
  padding-left: 20px;
}
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.admin-active {
  margin-left: 15%;
  transition: all 0.3s ease-in-out;
}

.admin-inactive {
  margin-left: 3%;
  transition: all 0.3s ease-in-out;
}
.admin-head {
  margin: 0 auto;
}
.admin-text {
  font-size: 30px;
}
.admin-container {
  padding: 2px;
  padding: 12px 0px;
  margin-right: 12px;
}
table {
  margin-top: 10px;
}
.my-table {
  width: 100%;
  display: table;
  padding: 10px;
}
.my-table-body {
  display: table-row-group;
}
.my-table-row {
  display: table-row;
}
.my-table-body-cell {
  display: table-cell;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  text-align: justify;
}
.nodata {
  position: absolute;
  width: 84%;
  text-align: center;
  padding: 92px;
  font-size: 18px;
  color: rgb(128, 132, 136);
}
.thead {
  font-size: 16px;
  font-weight: bold;
}
.page-title {
  font-size: 16px;
  font-weight: bold;

  text-align: center;
}
.btn-admin {
  background-color: rgb(0 28 104);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.action {
  display: flex;
  gap: 5px;
  align-items: center;
}
.btn-delete {
  background-color: rgb(247, 71, 73);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.job-top-flex {
  display: flex;
}
.main-dashboard {
  height: 400px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 4px;
  width: 97%;
}
.admin-top-gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  width: 100%;
}
.admin-grid-item {
  padding: 20px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}
.box-body {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.box-body-icn {
  font-size: 40px;
  color: #f94648;
}
.box-text {
  font-size: 28px;
}
.admin-charts {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.charts-left {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 70%;
  padding: 20px;
  border-radius: 4px;
}
.charts-right {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 30%;
  padding: 20px;
  border-radius: 4px;
}

.charts-l {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 50%;
  padding: 20px;
  border-radius: 4px;
}
.charts-r {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 50%;
  padding: 20px;
  border-radius: 4px;
}
.chart-head {
  text-align: center;
}
.pie {
  padding: 10px;
  width: 100%;
  height: 225px;
}
.custom-tooltip {
  padding: 10px;
}
.recharts-legend-wrapper {
  left: 20px !important;
}
.table {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #ddd;
  padding: 4px;
  text-align: left;
}

.round-img {
  border-radius: 50%;
  background-color: #ddd;
  width: 35px;
}
.logo-img {
  border-radius: 50%;
  background-color: #ddd;
  width: 50px;
}
.rescon {
  width: 1250px;
  height: 250px;
}
.resp-container {
  width: 100%;
  height: 200px;
}
.resp-container-bar {
  width: 100%;
  height: 475px;
}
.resp-container-pie {
  width: 200px;
  height: 465px;
}
.round-toggle {
  /* border: 1px solid #7670d5; */
  padding: 4px 9px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #001a66;
  color: white;
  cursor: pointer;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(136, 132, 216); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
button:hover {
  background-color: rgb(136, 132, 216);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.error {
  color: red;
}
/*Responsive design*/
/* For Desktop View */
/*-------------For Mobiles only --------------*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .left-nav {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: rgb(0 28 104);
    width: 100%;
    position: fixed;
  }
  .main-dashboard {
    width: 1500px;
    margin-right: 10px;
    padding: 4px;
  }
  .nav-content {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px;
  }
  /*HAMBURGER MENU*/
  .hamburger {
    display: flex;
    font-size: 24px;
    user-select: none;
    color: white;
  }
  .content-admin {
    margin-top: 150px;
    margin-left: 15%;
    padding: 10px;
  }
  .admin-top-gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .admin-grid-item {
    padding: 20px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
  }
  .content-admin {
    margin-left: 15%;
    padding-left: 0px;
  }
  .charts-left {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 20px;
    border-radius: 4px;
  }
  .charts-right {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 20px;
    border-radius: 4px;
  }
  .pie {
    padding: 10px;
    width: 500px;
    height: 500px;
  }
  .resp-container {
    width: 100%;
    height: 700px;
    font-size: 24px;
  }
  .resp-container-bar {
    width: 100%;
    height: 700px;
    font-size: 24px;
  }

  .admin-charts {
    display: block;
  }
  .table {
    font-size: 30px;
    padding: 20px;
    margin-top: 20px;
  }
  h6 {
    font-size: 38px;
    font-weight: 600;
  }
}
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    background-color: aquamarine;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body {
    background-color: aquamarine;
  }
}
