/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Quicksand:wght@300;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  /* 
  font-family: 'Quicksand', sans-serif; */
  line-height: 1.6;
  margin: 0;
  /* min-height: 100vh; */
  background-color: #e5e5e5;
}
.navbar,
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 0;
  margin-right: 10%;
  padding: 0;
  list-style: none;
}
h2,
h3,
a {
  color: #030441;
}
.main-nav li > a {
  text-decoration: none;
}
.logo {
  margin: 0;
  font-size: 1.45em;
}
.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  /* text-transform: uppercase; */
  display: block;
  text-align: center;
  text-decoration: none;
}
.main-nav a {
  color: #030441;
  font-size: 18px;
  font-weight: 500;
}
.main-nav a:hover {
  color: #718daa;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 100px;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  /* border: 1px solid #a2a2a2; */
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  /* -webkit-border-radius: 5px; */
  /* border-radius: 5px; */
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.footer {
  height: 480px;

  left: 0px;
  background: #030441;
}
.flex-logo {
  display: flex;
  justify-content: space-between;
  justify-items: start;
}

.flex-logo > div {
  padding: 20px 0px 10px;
  font-weight: bold;
  font-size: 24px;
}
.logo-text {
  padding-top: 28px !important;
}
.body-content {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030441;
  font-size: 1.2rem;
}

.c-list {
  width: 30%;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.centered-content .title {
  display: flex;
}
.uline {
  padding: 5px;
  width: 20%;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #000;
  line-height: 0.1em;
  /* margin: 10px 0 20px; */
  margin: auto;
}

.uline span {
  /* background-color: #e5e5e5; */
  background: #e5e5e5;
  padding: 0 10px;
}
/* ================================= 
  Nav Sub menu
====================-item================ */
.submenu {
  position: relative;
}
.submenu a {
  text-align: left;
}

li:hover,
li:focus-within {
  background: #e5e5e5;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #e5e5e5;
  visibility: hidden;
  opacity: 0;
  min-width: 20rem;
  position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 1rem; */
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

/* ================================= 
  Hero 
==================================== */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  padding: 10px 128px;
}
.flex-container .flex-item {
  /* background-color: DodgerBlue; */
  color: #030441;
  width: auto;
  /* margin: 10px; */
  margin-top: 5%;
  text-align: center;
  /* line-height: 75px; */
  font-size: 26px;
  align-content: space-between;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
  width: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 70%;
  width: 50%;
}
.hero-text {
  position: relative;
  width: 500px;
  top: 50px;
  height: 500px;
  flex-direction: column;
  border: 1px solid red;
}
.hero-ellipse {
  position: absolute;

  width: 140px;
  height: 140px;
  left: 59px;
  /* top: 140px; */
}
.hero-txt {
  position: absolute;
  width: 319px;
  height: 228px;
  left: 100px;
  border: 1px solid black;
  text-align: left;
  /* top: 164px; */

  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 76px;

  /* or 127% */
  letter-spacing: -0.03em;

  color: #0c003d;
}

.btn-upload {
  background-color: #2b00d4; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-content {
  display: flex;
}
.btn-content .btn-sub {
  top: 0;
  margin: auto;
}
.btn-content .btn-font {
  margin-left: 12px;
}
/* ================================= 
  About us css
==================================== */
.about {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* background-color: #e5e5e5; */
  /* border: 1px solid green; */
  width: 100%;
}
.about-item-left {
  padding: 10px;
  flex: 40%;
  width: 40%;
  padding: 32px 48px 15px 138px;
  /* background-color: #e5e5e5; */
}

.about-item-right {
  padding: 10px;
  flex: 60%;
  width: 60%;
}
.about-abt {
  text-align: left;
}
.about-item-left p {
  font-family: "Poppins", sans-serif;
  color: #030441;
  font-weight: 500;
  font-size: 54px;
  line-height: 62px;
}
.about-item-right p {
  font-weight: 400;
  width: 58%;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  letter-spacing: -0.03em;
  color: #030441;
  padding: 28px;
}
.section-intro {
  opacity: 0.5;
}
.abt-global {
  font-weight: 600;
  font-size: 54px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #f74749;
  opacity: 10;
}
.abt-sec {
  display: flex;
  padding: 10px;
  flex: 100%;
  width: 100%;
  padding: 32px 48px 15px 138px;
}
.texttext {
  font-size: 22px !important;
  line-height: normal !important;
  color: #030441 !important;
  opacity: 3 !important;
}
.fitem {
  margin-right: 120px !important;
}
.about-abt {
  text-align: left;
  width: 100%;
  align-content: space-between;
}
.img {
  width: 60%;
}
/* ================================= 
  Media Queries
==================================== */
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
    }
    .about-item-left {
      padding: 10px;
      flex: 100%;
      width: 100%;
    }

    .about-item-right {
      padding: 10px;
      flex: 100%;
      width: 100%;
    }
    .about-item-left p {
      font-family: "Poppins", sans-serif;
      color: #030441;
      text-align: center;
      /* border-bottom: 2px solid blue; */
      width: 100%;
      font-weight: 300;
      font-size: 30px;
      line-height: 76px;
      /* opacity: 0.5; */
    }
    .about-item-right p {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      text-align: left;
      /* or 150% */
      letter-spacing: -0.03em;

      color: #030441;

      /* opacity: 0.9; */
    }
    .abt-sec {
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .about {
      flex-direction: column;
    }
    .flex-item {
      flex-direction: column;
      /* width: 100%; */
    }
    .about-item-left {
      width: 100%;
      padding: 5px 0 10px 10px;
      flex-direction: column;
    }
    .img {
      width: 250px;
    }
    .about-item-right {
      width: 100%;
      padding: 5px 0 10px 10px;
      flex-direction: column;
    }
    .about {
      width: 100%;
    }
  }
  .flex-logo {
    display: flex;
    justify-content: space-between;
    justify-items: start;
  }
  .logo-text {
    padding-top: 0 !important;
  }
  .flex-logo > div {
    padding: 0 0 0 0;
  }
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: block;
  }

  .navbar {
    display: block;
    /* position: relative; */
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .navbar input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .main-nav {
    padding-top: 100px;
    background: #ffffff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .main-nav li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 0;
    right: 20%;
    font-size: 2rem;
  }

  ul li ul {
    background: #e5e5e5;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-width: 13rem;
    position: absolute;
    transition: all 0.5s ease;
    /* margin-top: 1rem; */
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }

  .navbar input[type="checkbox"]:checked ~ .main-nav {
    transform: translateX(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
