/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Quicksand:wght@300;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  /* 
  font-family: 'Quicksand', sans-serif; */
  line-height: 1.6;
  margin: 0;
  /* min-height: 100vh; */
  background-color: #e5e5e5;
}
.navbar,
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 0;
  margin-right: 10%;
  padding: 0;
  list-style: none;
}
h2,
h3,
a {
  color: #030441;
}
.main-nav li > a {
  text-decoration: none;
}
.logo {
  margin: 0;
  font-size: 1.45em;
  padding: 0 9px 9px;
}
.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 10px;
  /* text-transform: uppercase; */
  display: block;
  text-align: center;
  text-decoration: none !important;
}
.main-nav a {
  color: #030441;
  font-size: 18px;
  font-weight: 500;
}
.main-nav a:hover {
  color: #718daa;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  /* height: 100px; */
  /* padding-left: 0.5em;
  padding-bottom: 0.5em; */
  height: 80px;
  padding-left: 0.5em;
  padding-bottom: 0px;
  /* border: 1px solid #a2a2a2; */
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  /* -webkit-border-radius: 5px; */
  /* border-radius: 5px; */
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.footer {
  height: 480px;

  left: 0px;
  background: #030441;
}
.flex-logo {
  display: flex;
  justify-content: space-between;
  justify-items: start;
}

.flex-logo > div {
  padding: 20px 0px 10px;
  font-weight: bold;
  font-size: 24px;
}
.logo-text {
  padding-top: 28px !important;
}
.body-content {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030441;
  font-size: 1.2rem;
}

.c-list {
  width: 30%;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.centered-content .title {
  display: flex;
}
.uline {
  padding: 5px;
  width: 20%;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid #000;
  line-height: 0.1em;
  /* margin: 10px 0 20px; */
  margin: auto;
}

.uline span {
  /* background-color: #e5e5e5; */
  background: #e5e5e5;
  padding: 0 10px;
}
#about {
  padding: 2% 0 0 0;
}
/* ================================= 
  Nav Sub menu
====================-item================ */
.submenu {
  position: relative;
}
.submenu a {
  text-align: left;
}

li:hover,
li:focus-within {
  background: #e5e5e5;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #e5e5e5;
  visibility: hidden;
  opacity: 0;
  min-width: 20rem;
  position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 1rem; */
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

/* ================================= 
  Hero 
==================================== */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  padding: 10px 128px;
  width: 100%;
}
.flex-container .flex-item {
  color: #030441;
  width: 100%;
  /* margin: 10px; */
  margin-top: 5%;
  text-align: center;
  /* line-height: 75px; */
  font-size: 20px;
  align-content: space-between;
}
.flex-item-left {
  padding: 10px;
  /* flex: 50%;
  width: 50%; */
  /* border: 1px solid blue; */
}

.flex-item-right {
  padding: 10px;
  flex: 70%;
  width: 50%;
}
.hero-text {
  position: relative;
  width: 500px;
  top: 50px;
  height: 500px;
  flex-direction: column;
  /* border: 1px solid red; */
}
.hero-ellipse {
  position: absolute;

  width: 140px;
  height: 140px;
  left: 59px;
  /* top: 140px; */
}
.hero-txt {
  position: absolute;
  width: 319px;
  height: 228px;
  left: 100px;
  border: 1px solid black;
  text-align: left;
  /* top: 164px; */

  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 76px;

  /* or 127% */
  letter-spacing: -0.03em;

  color: #0c003d;
}

.btn-upload {
  background-color: #2b00d4; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 14px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-content {
  display: flex;
}
.btn-content .btn-sub {
  top: 0;
  margin: auto;
  padding: 0 5px;
}
.btn-content .btn-font {
  margin-left: 12px;
}
/* ================================= 
  About us css
==================================== */
.abt-main {
  width: 80%;
  /* border: 1px solid blue; */
  margin: 0 auto;
}
.about-section {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about-section .about-abt {
  /* background-color: grey; */
  margin: 10px;

  padding: 20px 110px 32px 0;
  font-size: 16px;
}
.abt-text {
  font-size: 2rem;
  color: #030441;
  opacity: 0.3;
}
.rsv-global {
  text-align: left;
  font-size: 50px;
  color: rgb(247, 71, 73);
}
.global {
  font-size: 28px;
  color: #030441;
}
.abt-subcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.abt-subcontent-content {
  justify-items: start;
  align-items: center;
  display: grid;
  /* border: 1px solid green; */
  width: 100%;
  grid-template-columns: 380px 380px 380px 380px;
  gap: 10px;

  padding: 44px 0 44px 0;
}
.d {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /* margin: 0 auto; */
}
.in1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /* margin: 0 auto; */
}
.in2 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /* margin: 0 auto; */
}
.ptext {
  display: inline-block;
  padding: 20px 0 20px 0;
}
.responsiveimg {
  width: 100%;
  /* border: 1px solid red; */
  object-fit: contain;
  object-position: bottom;
}
/* ================================= 
  Media Queries
==================================== */
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .about {
    flex-direction: column;
  }
  .about-item-left {
    padding: 10px;

    width: 100%;
  }
  #about {
    padding: 7% 0 0 0;
  }
  .about-item-right {
    padding: 10px;
    flex: 100%;
    width: 100%;
  }

  .about-section {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: center;
  }
  .about-section .about-abt {
    width: 100% !important;
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  .text {
    align-items: center;
    text-align: justify;
    border: 1px solid green;
    width: 100% !important;
  }

  .abt-subcontent-content {
    justify-items: start;
    align-items: center;
    display: grid;
    /* border: 1px solid green; */
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0;

    padding: 44px 0 44px 0;
  }

  .flex-logo {
    display: flex;
    justify-content: space-between;
    justify-items: start;
  }
  .logo-text {
    padding: 0;
  }
  .flex-logo > div {
    padding: 0 0 0 0;
  }
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: block;
  }

  .navbar {
    display: block;
    /* position: relative; */
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .navbar input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .main-nav {
    padding-top: 100px;
    background: #ffffff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .main-nav li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 0;
    right: 20%;
    font-size: 2rem;
  }

  ul li ul {
    background: #e5e5e5;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-width: 13rem;
    position: absolute;
    transition: all 0.5s ease;
    /* margin-top: 1rem; */
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }

  .navbar input[type="checkbox"]:checked ~ .main-nav {
    transform: translateX(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
  .abt-subcontent-content {
    justify-items: start;
    align-items: center;
    /* text-align: justify; */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    /* gap: 10px; */

    padding: 44px 0 44px 10px;
  }
}
@media screen and (max-width: 936px) {
  .abt-subcontent-content {
    justify-items: start;
    align-items: center;
    /* text-align: justify; */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    /* gap: 10px; */

    padding: 44px 0 44px 10px;
  }
  .flex-logo {
    display: flex;
    justify-content: space-between;
    justify-items: start;
  }
  #about {
    padding: 7% 0 0 0;
  }
  .logo-text {
    padding-top: 0 !important;
  }
  .flex-logo > div {
    padding: 0 0 0 0;
  }
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: block;
  }

  .navbar {
    display: block;
    /* position: relative; */
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .navbar input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .main-nav {
    padding-top: 100px;
    background: #ffffff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .main-nav li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 0;
    right: 20%;
    font-size: 2rem;
  }

  ul li ul {
    background: #e5e5e5;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-width: 13rem;
    position: absolute;
    transition: all 0.5s ease;
    /* margin-top: 1rem; */
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }

  .navbar input[type="checkbox"]:checked ~ .main-nav {
    transform: translateX(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
@media (min-width: 1200px) {
  .navbar input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
  .abt-subcontent-content {
    justify-items: start;
    align-items: center;
    /* text-align: justify; */
    display: grid;
    width: 100% !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 3; */

    padding: 44px 0 44px 10px;
  }
  #about {
    padding: 3% 0 0 0;
  }
}
@media (max-width: 1204px) {
  .navbar input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
  .flex-container {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .flex-item {
    flex-direction: column;
    width: 100%;

    /* width: 100%; */
  }
  .abt-subcontent-content {
    justify-items: start;
    align-items: center;
    /* text-align: justify; */
    display: grid;
    width: 100% !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    padding: 44px 0 44px 10px;
  }
  #about {
    padding: 7% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .navbar input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
  .flex-container {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .flex-item {
    flex-direction: column;
    width: 100%;

    /* width: 100%; */
  }
  .abt-subcontent-content {
    justify-items: start;
    align-items: center;
    /* text-align: justify; */
    display: grid;
    width: 100% !important;
    grid-template-columns: 1fr;
    gap: 10px;

    padding: 44px 0 44px 10px;
  }
  #about {
    padding: 7% 0 0 0;
  }
}
