.career-flex-container {
  display: flex;
  border: 2px solid red;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
}
.career-div {
  width: 100%;
  display: flex;
  margin: 0 auto;
  border: 2px solid blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.career-img {
  width: 70%;
}

/*upload*/

.fileUpload input[type="file"] {
  display: none;
}
.btn {
  background-color: #2b00d4; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 10px;
  cursor: pointer;
}
