.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  align-items: center;
  justify-content: center;
  display: hidden;

  pointer-events: none;
}
.modal.show {
  display: flex;
  pointer-events: visible;
}
.modal-cls-btn {
  background-color: rgb(11, 42, 128);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.modal-content {
  width: 700px;
  background-color: #fff;
  /* transform: translateY(-200px); */
  /* animation: modal-close 0.3s ease-in-out; */
}
.modal-content {
  animation: modal-animate 0.3s ease-in-out;
  border-radius: 4px;
}
.modal.modal-content {
  animation: modal-close 0.3s ease-in-out;
}
.form-left {
  width: 20%;
}
.form-right {
  width: 80%;
}
@keyframes modal-animate {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes modal-close {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(200px);
  }
}
.hide {
  display: none;
  pointer-events: visible;
}

.modal-header,
.modal-footer {
  padding: 10px;
}
.modal-title {
  margin: 0;
}
.modal-bodee {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.form-content {
  display: flex;
  gap: 20px;
  align-items: center;
}
.modal-footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 300px) {
  .overlay-base {
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition-property: background-color, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .overlay-base {
    padding: 10% 0 0 0;
  }
  .cls-flex > .div2 {
    margin: 0 auto;
    width: 100%;
  }
  form {
    padding: 10px 20px 20px 20px;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 2%;
    border: 1px solid #e3dede;
    border-radius: 4px;
    height: auto;
  }
  body {
    font-size: 12px;
  }
  img {
    /* min-width: 100%; */
    width: 48%;
  }
  .btn-upload {
    background-color: #030441;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 14px 37px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    font-weight: 500;
    margin: 4px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .career-head-item {
    background-color: #fff;
    /* padding: 5px; */
  }
}
