i {
  color: #f8f6f6;
  font-size: 20px;
  padding: 0px 20px 0px 0;
}
.r-nav {
  background-color: #030441;
  color: white;
}
.r-nav-toggle {
  background-color: #030441 !important;
}
.r-nav rs-sidebar rs-sidebar-collapse {
  height: 100%;
}
.nav-bar {
  height: 100%;
}
.adminboard {
  padding: 15px 14px 0 14px;
}
